*{
  padding: 0;
  margin: 0;
}

body{
  color: white;
  margin: 0;
}

.header-mid {
  position: sticky;
  top: 0;
  z-index: 1000;
}



ul, li, nav{
  display: block;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.menu{
  margin: 0;
  padding: 0;
}

.menu_pad{
  padding-top: 10px;
}

.menu__item_dropdown,
.header-top-mobile{
  display: none;
}

.menu__item_logo h1{
  color: white;
  font-size: 30px;
}

.menu__item_logo i{
  color: white;
  font-size: 40px;
}

.menu__item a,i{
  font-size: 12px;
  text-align: center center;
  color: rgb(241, 244, 244);
}



.dropdown-menu a{
  color: black;
}

.header-top,
.header-mid,
.header-bottom{
  background: rgb(26, 100, 185);
}

.default-btn {
  background-color: rgb(26, 100, 185);
  color: white;
  border: none;
  width: 90px;
  height: 75px;
  text-align: center;
}


.default-btn i{
  font-size: 24px;
}

.default-btn p {
  margin: 0;
}

.form-control {
  font-size: 20px; 
}

.menu__item_logo h1,
.menu__item_logo i,
.default-btn {
  line-height: 30px;
}

.header-top-mobile__nav{
  color: rgb(5, 19, 34);
  background-color: rgb(26, 100, 185);
}

.nav-item i{
  font-size: 14px;
}

.scrollable-buttons {
  overflow-x: auto;
  scrollbar-width: none;
}

.scrollable-buttons::-webkit-scrollbar {
  display: none;
}

.header-bottom__button{
  white-space: nowrap;
  background-color: transparent;
  color: white;
  border: 0px;
  padding: 10px;
}

.main-carousel__item{
  height: 450px;
}

.main-carousel__item img{
  height: 100%;
  width: 100%;
  object-fit: fill; 
}

.main-information-block__link{
  padding: 17px 24px 17px 24px;
  margin: 2px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 7px;
}

.carusel-cards .row {
  flex-wrap: nowrap;
}

.carusel-cards__item {
  margin: 10px 0;
  height: 450px;
}

.product-carousel__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-control-prev, .carousel-control-next{
  pointer-events: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  pointer-events: fill;
  background-color: aqua;

}


.footer {
  background-color: #212529; /* Темный фон */
  color: #ffffff; /* Белый текст */
}

.footer .footer-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer .footer-description {
  font-size: 0.875rem;
  max-width: 300px;
}

.footer .footer-socials svg {
  width: 24px;
  height: 24px;
}

.footer .footer-socials a {
  color: #ffffff;
  transition: color 0.3s;
}

.footer .footer-socials a:hover {
  color: #007bff; /* Синий цвет при наведении */
}

.footer .footer-links a {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.footer .footer-links a:hover {
  color: #007bff;
}




.scroll-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  display: none; 
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0056b3; /* Более темный синий при наведении */
}

/* Показ кнопки */
.scroll-to-top.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}


@media(max-width: 1200px){
  .menu__item_dropdown{
    display: block;
  }

  .menu__item_drop{
    display: none;
  }


  .main-information-block{
    margin-top: 20px;
  }
}

@media(max-width: 1000px){
  .header-top-mobile{
    display: block;
  }

  .header-mid{
    position: relative;
  }

  .header-mid__control,
  .header-top{
    display: none;
  }

  .default-btn, .navbar-toggler{
    background-color: rgb(26, 100, 185);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    text-align: center center;
  }

  .default-btn_mobile i{
    font-size: 26px;
  }

  .menu__item_logo h1{
    color: white;
    font-size: auto;
  }
  
  .menu__item_logo i{
    color: white;
    font-size: auto;
  }

  .phone-number i{
    color: black;
  }

  .more-btn__title{
    display: none;
  }

}

@media (max-width: 768px) {
  .carusel-cards__item {
    margin: 5px 0;  /* Для мобильных устройств уменьшаем отступы */
  }
}






